<div class="formPartial">
    <h2>Add products</h2>
    <form action="/api/productos" method="post"> 
        <input type="text" name="title" placeholder="Title" class="form-control" id="exampleFormControlInput1">
        <input type="number" name="price" placeholder="Price" class="form-control" id="exampleFormControlInput1">
        <input type="text" name="thumbnail" placeholder="Thumbnail" class="form-control" id="exampleFormControlInput1">
        <button type="button" class="btn btn-secondary">Add</button>
    </form>
</div> 